* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.boxes--container {
  display: grid;
  grid-template-areas: "first second third";
  margin: 100px;
}

.first {
  grid-area: first;
}

.second {
  grid-area: second;
}

.third {
  grid-area: third;
}

.box {
  width: 400px;
  height: 520px;
  border: 1px solid gray;
}

.img--box {
  width: 400px;
  height: 400px;
}

.img--box img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.text {
  padding: 30px 10px;
}

p {
  padding: 10px;
  font-size: 20px;
  color: gray;
}
